.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.headerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.avatar img{
  border-radius: 100;
}
.description {
  display: flex;
  flex-direction: row;
}
.linksContainer {
  width: 95%;
}

.App > div {
  margin: 10px;
}
.headerContainer > div {
  margin: 5px;
}

@media screen and (min-width: 750px) {
  .App {
    margin: 0 auto;
  }
  .headerContainer {
    margin-top: 50px;
  }
  .linksContainer {
    width: 700px;
  }

  .App > div {
    margin: 25px;
  }
  .headerContainer > div {
    margin: 5px;
  }
}
