.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.headerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.description {
  display: flex;
  flex-direction: row;
}
.linksContainer {
  width: 95%;
  height: 600px;
}

.App > div {
  margin: 10px;
}
.headerContainer > div {
  margin: 5px;
}
