.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 75px;
}
.avatar img {
  border-radius: 100;
}
.badges {
  display: flex;
  flex-direction: row;
}

.linksContainer {
  width: 95%;
}

.App > div {
  margin: 15px;
}
.headerContainer > div {
  margin: 5px;
}

@media screen and (max-height: 750px) {
  .headerContainer {
    margin-top: 250px;
  }
}

@media screen and (max-height: 487px) {
  .headerContainer {
    margin-top: 500px;
  }
}

@media screen and (min-width: 750px) {
  .App {
    margin: 0 auto;
  }

  .linksContainer {
    width: 700px;
  }

  .App > div {
    margin: 25px;
  }
  .headerContainer > div {
    margin: 5px;
  }
}
